
.bg{
  background: radial-gradient(at bottom left,#2196F3,white);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  font-size: 108%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(83, 103, 120);
  font-weight: bold;
 }

.button-10 {
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 12px;
  font-size:medium;
  border-radius: 6px;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #4B91F7 0%, #367AF6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  clear: both;
  display: inline-block;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.grid-item:hover {
	background-color: lightblue;
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 29px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 10px solid rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 18px;
  text-align: center;
}

.lbl-checkbox {
  display: inline-block;
  padding: auto;
  background: #eee;
}

.form-field{
  background-color: #eee;
  display: block;
  margin: 0;
  padding:5px;
  color: inherit;
  width: 20%;
  font-family: inherit;
  font-size: medium;
  font-weight: inherit;
  line-height: 12px;
  border: #4B91F7;
  border-radius: 0.4rem;
  transition: box-shadow var(2);
}



  